.balance-card {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  max-width: 900px;
 
}

.balance-section h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.balance-section p {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.balance-change {
  font-size: 0.95rem;
  display: inline-block;
  margin-top: 6px;
  animation: fadeIn 0.5s ease;
}

.balance-change.positive {
  color: green;
}

.balance-change.negative {
  color: red;
}

.income-expense-section {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.income,
.expense {
  width: 60vw;
  padding: 0.5rem;
  margin: 10px;;
  background-color: white;
  border-radius: 8px;
  text-align: center;
}

.income-amount {
  color: green;
  font-weight: bold;
}

.expense-amount {
  color: red;
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
