.app-layout {
    display: flex;
}

.dashboard-content {
  margin-left: var(--sidebar-width);
  padding: 59px;
  padding-top: 0px;
  width: calc(100% - var(--sidebar-width));
  background-color: #f5f6fa;
  min-height: 100vh;
  transition: margin-left 0.3s ease, width 0.3s ease;
}

.dashboard-section {
  display: flex;
  gap: 20px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.sidebar.collapsed ~ .dashboard-content {
  margin-left: var(--sidebar-collapsed-width);
  width: calc(100% - var(--sidebar-collapsed-width));
}

@media (max-width: 768px) {
  .dashboard-content {
    margin-left: 0;
    width: 100%;
  }
}



