.homepage-container {
    width: 180vh;
    height: 180vh;
    padding: 20px;
    background-color: aqua;
}
.homepage-container h1 {
   justify-content: center;
   border: 2px solid black;
   border-radius: 8px;
   display: flex;
   background-color: beige;
   align-items: center; 
   height: 10vh;

}
.btn-group{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.signup-button {
    margin-top: 1rem;
    padding: 10px 20px;
    background-color: #e73c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.signup-button:hover {
    background-color: #d8d2d2;
    color:black
}

.login-button {
    margin-top: 1rem;
    padding: 10px 20px;
    background-color: #e73c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-button:hover{
    background-color: #d8d2d2;
    color:black
}

@media (max-width:768px){
    .homepage-container {
        margin-left: 0;
        width: 100%;
  }
}
