.homepage-container {
    max-width: fit-content;
    margin: auto;
    padding: 20px;
}
.btn-group{
    display: flex;
    gap: 50px;
}
.signup-button {
    margin-top: 1rem;
    padding: 10px 20px;
    background-color: #e73c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.login-button {
    margin-top: 1rem;
    padding: 10px 20px;
    background-color: #e73c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
