
.app-layout {
  display: flex;

}

.account-content {
  margin-left: 225px;
  padding: 59px;
  padding-top: 0%;
  width: calc(100% - var(--sidebar-width));
  background-color: #f5f6fa;
  min-height: 100vh;
  transition: margin-left 0.3s ease, width 0.3s ease;
}

.account-content h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.account-info p {
  font-size: 1.1rem;
  margin: 0.5rem 0;
}


.sidebar.collapsed ~ .account-content {
  margin-left: var(--sidebar-collapsed-width);
  width: calc(100% - var(--sidebar-collapsed-width));
}

@media (max-width: 768px) {
  .account-content {
    margin-left: 0;
    width: 100%;
  }
}


