.navbar-container {
    max-width: fit-content;
    justify-content: space-between;
    display: flex;
    margin: auto;
    padding: 20px;
}

.btn {
  margin-left: 10px;
  padding: 8px 12px;
  background-color: #61dafb;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
