:root {
  --sidebar-width: 240px;
  --sidebar-collapsed-width: 80px;
}

.settings-content {
  margin-left: 20px;
  padding: 0px 36px;
  background-color: rgba(255, 255, 255, 0.95);
  min-height: 100vh;
  overflow-y: auto;
  transition: margin-left 0.3s ease, width 0.3s ease;
  width: calc(100% - var(--sidebar-width));
  box-sizing: border-box;
}

.close-btn1:hover {
  color: black;
}


.settings-content h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #2c3e50;
}

.settings-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-section {
  background: white;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.07);
}

.settings-section h3 {
  margin-bottom: 1rem;
  color: #34495e;
}

.toggle-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.toggle-item label {
  font-weight: bold;
}

@media (max-width: 768px) {
  .settings-content {
    margin-left: 0;
    width: 100%;
  }

}