:root {
  --sidebar-width: 240px;
  --sidebar-collapsed-width: 80px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--sidebar-width);
  background-color: #2c3e50;
  color: white;
  padding: 1rem;
  transition: transform 0.3s ease;
  z-index: 1000;
  overflow-x: hidden;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
}

.title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.budget-icon {
  width: 100%;
  max-width: 45px;
}

.sidebar--collapsed .sidebar-title {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.sidebar--expanded {
  width: 240px;
  transform: translateX(0);
}

.sidebar--collapsed {
  width: var(--sidebar-collapsed-width);
  transform: translateX(0);
  font-size: 2rem;
}

.sidebar--hidden {
  width: 240px;
  transform: translateX(-100%);
}

.sidebar-title {
  font-size: 1.35rem;
}

.sidebar-icon {
  font-size: 1.2rem;
  flex-shrink: 0;
}



.sidebar a,
.logout-button {
  color: #ecf0f1;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.2s ease;
}

.sidebar a:hover,
.logout-button:hover {
  color: #1abc9c;
}



.toggle-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1100;
}

.sidebar--expanded .toggle-button:hover {
  color: #1abc9c;
}

.sidebar--collapsed .toggle-button:hover {
  color: #1abc9c;
}

.sidebar--collapsed .sidebaritems {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  align-items: center;
}

.sidebaritems {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 25px;
}