name: Build and Push Backend Docker Image

on:
    push:
        branches:
            - main


jobs:
    build:
        runs-on: ubuntu-latest


        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Login To Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build And Push Backend Image
              uses: docker/build-push-action@v5
              with:
                context: ./server
                push: true
                tags: mrajeshnayak/budget-backend:latest