name: Build & Push Frontend Docker Image

on:
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest


        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Debug secrets (safe check)
              run: |
                if [ -z "${{ secrets.DOCKERHUB_USERNAME }}" ]; then
                  echo "USERNAME IS EMPTY"
                else
                  echo "USERNAME IS PRESENT"
                fi


                if [ -z "${{ secrets.DOCKERHUB_TOKEN }}" ]; then
                  echo "TOKEN IS EMPTY"
                else
                  echo "TOKEN IS PRESENT"
                fi


            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}


            - name: Build and push frontend image
              uses: docker/build-push-action@v5
              with:
                context: ./client
                push: true
                tags: mrajeshnayak/budget-frontend:latest
