name: Build & Push Frontend Docker Image

on:
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest


        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                node-version: 20

            - name: Install frontend dependencies
              working-directory: client 
              run: npm install

            - name: Run frontend tests
              working-directory: client
              run: npm test -- --watch=false

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}


            - name: Build and push frontend image
              uses: docker/build-push-action@v5
              with:
                context: ./client
                push: true
                tags: |
                  mrajeshnayak/budget-frontend:1.1.0
                  mrajeshnayak/budget-frontend:latest
